

  <div id="<%= dom_id flat%>">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body" style="height: 88px;" overflow="hidden">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location <%= flat.address %></li>
        <li class="list-group-item">Occupancy <%= flat.occupancy %></li>
        <li class="list-group-item">Price/ Night<%= flat.price %>CHF</li>
      </ul>
      
    </div>
  </div>
