<div id="<%= dom_id flat %>">
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Occupancy:</strong>
    <%= flat.occupancy %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flat.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= flat.image_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flat.user_id %>
  </p>

</div>
