
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="container" >
  <div class="form-inputs .bg-light">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :occupancy %>
    <%= f.input :price %>
    <%= f.input :image_url %>
    <%= f.association :user %>
  </div>

  <div type="button" class="btn btn-primary btn-lg" >
    <%= f.button :submit %>
  </div>
</div>
<% end %>



  <%# <div class="form-actions" style= "background-color: #E57C23" > %>
