<p style="color: green"><%= notice %></p>

<%= render @flat %>

<div>
  <% if policy(@flat).edit? %>
    <%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn btn-primary mt-3"%>
  <% end %>
  <%= link_to "Back to flats", flats_path, class: "btn btn-primary mt-3" %>

  <% if policy(@flat).destroy? %>
    <%= button_to "Delete this flat", @flat, method: :delete, class: "btn btn-outline-danger mt-3" %>
  <% end %>
</div>
