<p style="color: green"><%= notice %></p>

<%= render @flat %>

<p><strong>Reservation</strong></p>
<ul class="list-group">
  <% @flat.reservations.each do |reservation| %>
    <li class="list-group-item"><%= reservation.start_date %></li>
  <% end %>
</ul>
<br>

 <%= link_to "Make a reservation", new_flat_reservation_path(@flat) %>

<div>
  <% if policy(@flat).edit? %>
    <%= link_to "Edit this flat", edit_flat_path(@flat) %>
  <% end %>
  <%= link_to "Back to flats", flats_path %>

  <% if policy(@flat).destroy? %>
    <%= button_to "Destroy this flat", @flat, method: :delete %>
  <% end %>
</div>
