<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
      <%= render "flat", flat: @flat, full_description: true %>
      <div class="all-btn">
        <%= link_to "Back to flats", flats_path, class: "btn btn-blue mt-3" %>
          <div class="btn-group">
            <% if policy(@flat).destroy? %>
              <%= button_to "Delete this flat", @flat, method: :delete, class: "btn btn-outline-red mt-3 me-2" %>
            <% end %>
            <% if policy(@flat).edit? %>
              <%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn btn-blue mt-3"%>
            <% end %>
          </div>
      </div>
    </div>

    <div class="col-12 col-lg-4" id="map">
    </div>

  </div>
</div>
