<p style="color: green"><%= notice %></p>

<%= render @flat %>

<div>
  <% if policy(@flat).edit? %>
    <%= link_to "Edit this flat", edit_flat_path(@flat) %> 
  <% end %>
  <%= link_to "Back to flats", flats_path %>

  <% if policy(@flat).destroy? %>
    <%= button_to "Destroy this flat", @flat, method: :delete %>
  <% end %>
</div>
